.stage {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .intro,
    .loop,
    .accelerate,
    .ignore,
    .decelerate {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        display: none;

        &.visible {
            display: block;
        }
    }

    &.visible {
        display: block;
    }
}
